@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


a.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: orangered;
    font-family: cursive;
    font-weight: 700;

}

nav.main-navigation {
    position: relative;
}

nav.main-navigation ul.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: right;
   
}

.nav-list li.nav-list-item {
    display: inline-block;
    line-height: 40px;
    margin-left: 30px;
    margin-top: 15px;
}

a.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: orangered;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav-list li {
    animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
}

.nav-list li:nth-child(1) {
    animation-delay: .3s;
}

.nav-list li:nth-child(2) {
    animation-delay: .6s;
}

.nav-list li:nth-child(3) {
    animation-delay: .9s;
}

.nav-list li:nth-child(4) {
    animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
    animation-delay: 1.5s;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


.btn{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size:1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display:flex;
    align-items: stretch;
}
.search-control,.search-btn{
    width:100%
}
.search-control{
    padding:0 1rem;
    font-size:1.1rem;
    font-family: 'Roboto', sans-serif;
    outline:0;
    color:#444;
    background: #ddd;
    border:1px solid #f6f6f6;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}
.search-btn {
    width: 130px;
    height: 50px;
    font-size: 1.8rem;
    background: #47bbff;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.meal-result{
    margin-top:4rem;
}
#meal{
    margin: 2.4rem 0;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    width: 100%;
}
.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
   
}
.meal-img{
    width: 100%;
    display: block;
}
img {
    width: 100%;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: #000;
    background: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    padding:0.75rem 0;
    display: block;
    margin:1rem auto;
    border-radius:2rem;
}
.notFound{
    grid-template-columns: 1fr!important;
    color : #47bbff;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    background: #47bbff;
    border-radius:1rem;
    width: 40%;
    height:80%;
    display: none;
    padding:50px 0;
}

.showRecipe{
    display:block;
}
.meal-details-content{
    margin: 50px;
}
 .recipe-close-btn{
     position:absolute;
     right: 2rem;
     top: 2rem;
     font-size: 1.8rem;
     background:#fff;
     border: none;
     width: 35px;
     height:35px;
     border-radius:50%
 } 
 .recipe-meal-img img{
     width: 350px;
     height: 180px;
     border-radius: 10px;
     margin: 0 auto;
     display: block;
    
 }
 .recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
 }
 .text-color{
     color: black;
     text-align:left;
     padding-left: 45px;

 }